#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.input-div {
  top: 100px;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 300px;
  min-height: 300px;
  width: 400px;
  background-color: white;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.upper-input-class {
  display: flex;
  color: black;
  justify-content: space-between;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.name-input {
  position: absolute;
}

.job-description {
  margin-top: 19px;
  display: flex;
}

.role-description {
  margin-left: 30px;
}

.job-input-description {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.add-desc-button {
  margin-top: 10px;
}

.input-company-name {
  display: flex;
  justify-content: space-between;
}

.input-control-button {
  max-width: 90px;
  margin-left: 150px;
  margin-top: 10px;
}
